.panel-container {
    flex-direction: row;
    padding-left: 30px;
    width: 750px;
    margin-top: -1px;
    padding-top: 30px;
    padding-right: 30px;

  }
  .panel-container:active {
    background-color: #ECECEC;
  }
  .panel-content {
    // position: relative;
    flex-direction: row;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 720px;
    border-bottom-color: #D9D9D9;
    padding-bottom: 30px;
  }
  .l-image {
    width: 120px;
    height: 120px;
    margin-right: 25px;

  }
  .text-content {
    flex-direction: column;
  }
  .titletext {
    margin-bottom: 10px;
  }
  .disc-text {
    width: 550px;
    font-size: 26px;
    color: #999999;
    text-overflow:ellipsis;
    word-wrap: break-word;
  }
  .disc-textA {
    width: 660px;
    font-size: 26px;
    color: #999999;
    text-overflow:ellipsis;
    word-wrap: break-word;
  }
  .textfooter {
    flex-direction: row;
    margin-top:30px;
  }

  .textfrom {
    font-size: 26px;
    color: #999999;
    padding-right: 26px;
  }
  .textother {
    font-size: 26px;
    color: #999999;
  }
