.cell-group {
  background-color: #fff;
  border-bottom-color: #e5e5e5;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.header {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-color: #e5e5e5;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.title {
  color: #999999;
  font-size: 28px;
}
.text {
  color: #999999;
}
.footer {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-color: #e5e5e5;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.footer_text {
  color: #586c94;
  font-size: 28px;
  padding-left: 10px;
}
  .arrow{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 30px;
    bottom: 35px;
    width: 15px;
    height: 15px;
    margin-right: 2px;
    border-right-style: solid;
    border-right-width: 4px;
    border-right-color: #C8C8CD;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #C8C8CD;
    transform: rotate(-45deg);
  }
