  .o-btn_default {
    color: $oBtnDefaultFontColor;
    background-color: $oBtnDefaultBg;
    border-color: $oBtnDefaultBorderBg;
  }

  .o-btn_default:active {
    color: $oBtnDefaultActiveFontColor;
    background-color: $oBtnDefaultActiveBg;
  }

  .o-btn-disabled_default {
    color: $oBtnDefaultDisabledFontColor;
    background-color: $oBtnDefaultDisabledBg;
    border-color: $oBtnDefaultBorderBg;
  }

  .o-btn-disabled_default:active {
    color: $oBtnDefaultDisabledFontColor;
    background-color: $oBtnDefaultDisabledBg;
    border-color: $oBtnDefaultBorderBg;
  }
