  @import '../../variables/button.scss';
  @import './oc-btn-default.scss';
  @import './oc-btn-primary.scss';
  @import './oc-btn-warn.scss';
  @import './oc-btn-plain.scss';

  .oc-btn {
    text-align: center;
    border-width:1px;
    border-style: solid;
  }

  .oc-btn-link {
    color: $ocBtnLinkFontColor;
    border-color: transparent;
  }

  .oc-btn-sz-large {
    width: 690px;
    line-height: 88px;
    font-size: $ocBtnFontSize;
    border-radius: $ocBtnBorderRadius;
  }

  .oc-btn-sz-middle {
    width: 360px;
    line-height: 70px;
    font-size: $ocBtnmiddleFontSize;
    border-radius: $ocBtnBorderRadius;
  }

  .oc-btn-sz-small {
    width: 120px;
    line-height: 60px;
    font-size: $ocBtnMiniFontSize;
    border-radius: $ocBtnBorderRadius;
  }
