  .o-btn-angle_square {
    border-radius: $oBtnBorderRadius;
  }
  .o-btn-angle_circle_large {
    border-radius: $oBtnBordercircleRadius_large;
  }
  .o-btn-angle_circle_middle {
    border-radius: $oBtnBordercircleRadius_middle;
  }
  .o-btn-angle_circle_small {
    border-radius: $oBtnBordercircleRadius_small;
  }
