.panel-container {
    flex-direction: row;
    padding-left: 30px;
    width: 750px;
    margin-top: -1px;
  }
  .panel-container:active {
    background-color: #ECECEC;
  }
  .panel-content {
    position: relative;
    flex-direction: row;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 720px;
    border-bottom-color: #D9D9D9;
  }
  .img-content {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
  }
  .l-image {
    width: 120px;
    height: 120px;
  }
  .text-content {
    flex-direction: column;
    justify-content: center;
  }
  .lefttext {
    margin-bottom: 10px;
  }