$ocBtnFontSize:36px;
$ocBtnmiddleFontSize:32px;
$ocBtnMiniFontSize:26px;

// 按钮字体颜色
$ocBtnFontColor:#FFFFFF;
$ocBtnActiveFontColor:rgba(255,255,255,.6);
$ocBtnDisabledFontColor:rgba(255,255,255,.6);

//按钮Border
$ocBtnBorderRadius:10px;

//默认按钮字体颜色
$ocBtnDefaultFontColor:#000000;
$ocBtnDefaultActiveFontColor:rgba(0,0,0,.6);
$ocBtnDefaultDisabledFontColor:rgba(0,0,0,.3);

// link字体颜色
$ocBtnLinkFontColor:#337ab7;

//默认背景色
$ocBtnDefaultBg:#F8F8F8;
$ocBtnDefaultBorderBg:#DEDEDE;
$ocBtnDefaultActiveBg:#DEDEDE;
$ocBtnDefaultDisabledBg:#F7F7F7;


//正确按钮背景色
$ocBtnPrimaryBg:#1AAD19;
$ocBtnPrimaryActiveBg:#179B16;
$ocBtnPrimaryDisabledBg:#9ED99D;

//警告按钮背景色
$ocBtnWarnBg:#E64340;
$ocBtnWarnActiveBg:#CE3C39;
$ocBtnwarnDisabledBg:#EC8B89;

//幽灵默认按钮背景色
$ocBtnPlainDefaultColor:rgba(53,53,53,0);
$ocBtnPlainDefaultBorderColor:rgba(53,53,53,1);
$ocBtnPlainDefaultActiveColor:rgba(53,53,53,0);
$ocBtnPlainDefaultActiveBorderColor:rgba(53,53,53,.6);
$ocBtnFontPlainDefaultColor:rgba(53,53,53,1);
$ocBtnFontPlainDefaultActiveColor:rgba(53,53,53,0.6);

//幽灵正确按钮背景色
$ocBtnPlainPrimaryColor:rgba(26,173,25,0);
$ocBtnPlainPrimaryBorderColor:rgba(26,173,25,1);
$ocBtnPlainPrimaryActiveColor:rgba(26,173,25,0);
$ocBtnPlainPrimaryActiveBorderColor:rgba(26,173,25,.6);
$ocBtnFontPlainPrimaryColor:rgba(26,173,25,1);
$ocBtnFontPlainPrimaryActiveColor:rgba(26,173,25,.6);


//幽灵警告按钮背景色
$ocBtnPlainWarnColor:rgba(233,79,79,0);
$ocBtnPlainWarnBorderColor:rgba(233,79,79,1);
$ocBtnPlainWarnActiveColor:rgba(233,79,79,0);
$ocBtnPlainWarnActiveBorderColor:rgba(233,79,79,.6);
$ocBtnFontPlainWarnColor:rgba(233,79,79,1);
$ocBtnFontPlainWarnActiveColor:rgba(233,79,79,.6);
// 幽灵禁用
$ocBtnPlainDisabledColor:rgba(0,0,0,0);
$ocBtnPlainDisabledBorderColor:rgba(0,0,0,0.2);