$oBtnFontSize:36px;
$oBtnmiddleFontSize:32px;
$oBtnMiniFontSize:26px;

// 按钮字体颜色
$oBtnFontColor:#FFFFFF;
$oBtnActiveFontColor:rgba(255,255,255,.6);
$oBtnDisabledFontColor:rgba(255,255,255,.6);

//按钮Border
$oBtnBorderRadius:10px;
$oBtnBordercircleRadius_large:44px;
$oBtnBordercircleRadius_middle:35px;
$oBtnBordercircleRadius_small:30px;
//默认按钮字体颜色
$oBtnDefaultFontColor:#000000;
$oBtnDefaultActiveFontColor:rgba(0,0,0,.6);
$oBtnDefaultDisabledFontColor:rgba(0,0,0,.3);

// link字体颜色
$oBtnLinkFontColor:#337ab7;

//默认背景色
$oBtnDefaultBg:#F8F8F8;
$oBtnDefaultBorderBg:#DEDEDE;
$oBtnDefaultActiveBg:#DEDEDE;
$oBtnDefaultDisabledBg:#F7F7F7;


//正确按钮背景色
$oBtnPrimaryBg:#1AAD19;
$oBtnPrimaryActiveBg:#179B16;
$oBtnPrimaryDisabledBg:#9ED99D;

//警告按钮背景色
$oBtnWarnBg:#E64340;
$oBtnWarnActiveBg:#CE3C39;
$oBtnwarnDisabledBg:#EC8B89;

//幽灵默认按钮背景色
$oBtnPlainDefaultColor:rgba(53,53,53,0);
$oBtnPlainDefaultBorderColor:rgba(53,53,53,1);
$oBtnPlainDefaultActiveColor:rgba(53,53,53,0);
$oBtnPlainDefaultActiveBorderColor:rgba(53,53,53,.6);
$oBtnFontPlainDefaultColor:rgba(53,53,53,1);
$oBtnFontPlainDefaultActiveColor:rgba(53,53,53,0.6);

//幽灵正确按钮背景色
$oBtnPlainPrimaryColor:rgba(26,173,25,0);
$oBtnPlainPrimaryBorderColor:rgba(26,173,25,1);
$oBtnPlainPrimaryActiveColor:rgba(26,173,25,0);
$oBtnPlainPrimaryActiveBorderColor:rgba(26,173,25,.6);
$oBtnFontPlainPrimaryColor:rgba(26,173,25,1);
$oBtnFontPlainPrimaryActiveColor:rgba(26,173,25,.6);


//幽灵警告按钮背景色
$oBtnPlainWarnColor:rgba(233,79,79,0);
$oBtnPlainWarnBorderColor:rgba(233,79,79,1);
$oBtnPlainWarnActiveColor:rgba(233,79,79,0);
$oBtnPlainWarnActiveBorderColor:rgba(233,79,79,.6);
$oBtnFontPlainWarnColor:rgba(233,79,79,1);
$oBtnFontPlainWarnActiveColor:rgba(233,79,79,.6);
// 幽灵禁用
$oBtnPlainDisabledColor:rgba(0,0,0,0);
$oBtnPlainDisabledBorderColor:rgba(0,0,0,0.2);
