/**
 * text
 */

// 主标题字色
$OTextColorTitle: #000000;

//次标题字色
$OTextColorGray: #999999;

//弱提示字色
$OTextColorTips: #bfbfbf;

/**
 * line
 */

// 边框颜色
$OLineColorLight: #E5E5E5;

// 分割线颜色
$OLineColorDark: #eeeeee;

/**
 * button
 */

// 主要操作色
$OColorPrimary: #1AAD19;

// 次要操作色
$OColorDefault: white;

// 警告类操作色
$OColorWarn: #E64340;


/**
 * background
 */

// 背景底色
$OBgColorDefault: #f4f4f4;

// 弹出蒙板
$OBgColorActive: rgba(0, 0, 0, 0.4);;