/**TYPE**/

  .o-btn-plain_default {
    color: $oBtnFontPlainDefaultColor;
    background-color: $oBtnPlainDefaultColor;
    border-color: $oBtnPlainDefaultBorderColor;
  }

  .o-btn-plain_default:active {
    color: $oBtnFontPlainDefaultActiveColor;
    background-color: $oBtnPlainDefaultActiveColor;
    border-color: $oBtnPlainDefaultActiveBorderColor;
  }

  .o-btn-plain_primary {
    color: $oBtnFontPlainPrimaryColor;
    background-color: $oBtnPlainPrimaryColor;
    border-color: $oBtnPlainPrimaryBorderColor;
  }

  .o-btn-plain_primary:active {
    color: $oBtnFontPlainPrimaryActiveColor;
    background-color: $oBtnPlainPrimaryActiveColor;
    border-color: $oBtnPlainPrimaryActiveBorderColor;
  }


  .o-btn-plain_warn {
    color: $oBtnFontPlainWarnColor;
    background-color: $oBtnPlainWarnColor;
    border-color: $oBtnPlainWarnBorderColor;
  }

  .o-btn-plain_warn:active {
    color: $oBtnFontPlainWarnActiveColor;
    background-color: $oBtnPlainWarnActiveColor;
    border-color: $oBtnPlainWarnActiveBorderColor;
  }

  .o-btn-plain_disabled {
    color: $oBtnDefaultDisabledFontColor;
    background-color: $oBtnPlainDisabledColor;
    border-color: $oBtnPlainDisabledBorderColor;
  }

  .o-btn-plain_disabled:active {
    color: $oBtnDefaultDisabledFontColor;
    background-color: $oBtnPlainDisabledColor;
    border-color: $oBtnPlainDisabledBorderColor;
  }
