  .o-btn_warn {
    color: $oBtnFontColor;
    background-color: $oBtnWarnBg;
    border-color: $oBtnWarnBg;
  }

  .o-btn_warn:active {
    color: $oBtnActiveFontColor;
    background-color: $oBtnWarnActiveBg;
    border-color: $oBtnWarnActiveBg;
  }

  .o-btn-disabled_warn {
    color: $oBtnDisabledFontColor;
    background-color: $oBtnwarnDisabledBg;
    border-color: $oBtnwarnDisabledBg;
  }

  .o-btn-disabled_warn:active {
    color: $oBtnDisabledFontColor;
    background-color: $oBtnwarnDisabledBg;
    border-color: $oBtnwarnDisabledBg;
  }
