  .o-btn_primary {
    color: $oBtnFontColor;
    background-color: $oBtnPrimaryBg;
    border-color: $oBtnPrimaryBg;
  }

  .o-btn_primary:active {
    color: $oBtnActiveFontColor;
    background-color: $oBtnPrimaryActiveBg;
    border-color: $oBtnPrimaryActiveBg;
  }

  .o-btn-disabled_primary {
    color: $oBtnDisabledFontColor;
    background-color: $oBtnPrimaryDisabledBg;
    border-color: $oBtnPrimaryDisabledBg;
  }

  .o-btn-disabled_primary:active {
    color: $oBtnDisabledFontColor;
    background-color: $oBtnPrimaryDisabledBg;
    border-color: $oBtnPrimaryDisabledBg;
  }
