  @import '../../base/fn.scss';
  @import './o-btn_default.scss';
  @import './o-btn_primary.scss';
  @import './o-btn_warn.scss';
  @import './o-btn_plain.scss';
  @import './o-button_angle.scss';

  .o-btn {
    text-align: center;
    border-width:1px;
    border-style: solid;
  }

  .o-btn_link {
    color: $oBtnLinkFontColor;
    border-color: transparent;
  }

  .o-btn-sz_large {
    width: 690px;
    line-height: 88px;
    font-size: $oBtnFontSize;
  }

  .o-btn-sz_middle {
    width: 360px;
    line-height: 70px;
    font-size: $oBtnmiddleFontSize;
  }

  .o-btn-sz_small {
    width: 120px;
    line-height: 60px;
    font-size: $oBtnMiniFontSize;

  }

