.o-navbar-content {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom:6px;
}
.o-navbar-content-normal {
  height: 92px;
  padding-top:6px;
}
.o-navbar-content-iOS {
  height: 132px;
  padding-top:46px;
}
.o-navbar-left{
  flex-direction: row;
  flex: 1;
}
.o-navbar-right {
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
}
.o-navbar-title {
  flex: 3;
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}
