.switch {
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-color: #dfdfdf;
  border-style: solid;
  border-width: 2px;
}
// size
.sz-small {
  min-width: 132px;
  height: 68px;
  border-radius: 34px;
}
.sz-normal {
  min-width: 132px;
  height: 68px;
  border-radius: 34px;
}
.sz-large {
  min-width: 132px;
  height: 68px;
  border-radius: 34px;
}
.checked {
  background-color: #04be02;
}
.disabled {
  background-color: rgba(255,255,255,.6);
}
.icon {
  background-color: #fff;
  border-style: solid;
  border-color: #dfdfdf;
  transform: translateX(0);
}

.icon-checked {
  border-color: #04be02;
}
.icon-disabled {
  border-color: rgba(255,255,255,.6);
}
// circle size
.isz-small {
  width: 64px;
  height: 64px;
  border-width: 2px;
  border-radius: 32px;
}
.isz-normal {
  width: 64px;
  height: 64px;
  border-width: 2px;
  border-radius: 32px;
}
.isz-large {
  width: 64px;
  height: 64px;
  border-width: 2px;
  border-radius: 32px;
}
.text {
  color: #fff;
  margin-left: 0px;
}
.text-disabled {
  color: rgba(255,255,255,.6);
}
