@import '../theme-default/base/fn.scss';
.o-h1 {
	font-family: 'PingFang SC', sans-serif;
	font-size: 60px;
	color: $OTextColorTitle;
}
.o-h2 {
	font-size: 36px;
	color: $OTextColorTitle;
}
.o-h3 {
	font-size: 34px;
	color: $OTextColorTitle;
}
.o-h4 {
	font-size: 32px;
	color: $OTextColorTitle;
}
.o-h5 {
	font-size: 30px;
}
.o-h6 {
	font-size: 28px;
}
.o-h7 {
	font-size: 24px;
}

.color_Title {
  color: $OTextColorTitle;
}
.color_Gray {
  color: $OTextColorGray
}
.color_Tips {
  color: $OTextColorTips
}
