.input-field {
  position: relative;
  justify-content: center;
  padding-left: 30px;
  background-color: #fff;
}
.left_text {
  position: absolute;
  left: 30;
  top: 0;
  width: 140px;
  height: 88px;
  align-items: center;
  justify-content: center;
  border-bottom-color: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.left_icon {
  position: absolute;
  left: 30;
  top: 0;
  width: 88px;
  height: 88px;
  align-items: center;
  justify-content: center;
  border-bottom-color: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.right {
  position: absolute;
  right: 0;
  top: 0;
  width: 226px;
  height: 88px;
  align-items: center;
  justify-content: center;
}
.input {
  height: 88px;
  font-size: 34px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-bottom-color: #E5E5E5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.with-left_text {
  padding-left: 180px;
}
.with-left_icon {
  padding-left: 90px;
}
.with-right {
  padding-right: 88px;
}
