.radio{
  padding-left: 30px;
  width: 750px;
}
.radiocontent {
  flex-direction: row;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #D9D9D9;
  width: 720px;
  height: 87px;
}
.radio:active {
  background-color: #ececec;
}
.radio_disabled:active{
  background-color:rgba(0,0,0,0);
}
.icon{
  position: relative;
  width: 46px;
  height: 46px;
  border-radius: 23px;
  border-width: 2px;
  border-color:#c9c9c9;
  border-style: solid;
}
.checkicon {
  position:absolute;
  top:10px;
  left: 8px;
  width: 24px;
  height: 14px;
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: white;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: white;
  border-radius: 2px;
  transform: rotate(-45deg);
}
.checkicon:active{
  color:#ececec;
}
.checked{
  border-radius: 23px;
  border-width: 2px;
  border-color:#09bb07;
  border-style: solid;
  background-color:#09bb07
}


.text{
  margin-left: 25px;
}
.text-disabled{
  color: gray;
}
